@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.noEnrolledCourses{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
}
.noEnrolledCourses > .header-text{
    font-size: 2.5em;
    opacity: 50%;
}
.noEnrolledCourses > .footer-text{
    opacity: 50%;
}
.active{
    background-color: darkgrey;
}
.enrolled-content{
    display: inline-block;
    width: 80%;
    vertical-align: top;
    height: 88vh;
}
.content-controller{
    height: 3.5rem;
    border-bottom: 1px solid darkgrey;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
}
.content-controller *{
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    cursor: pointer;
}
.content-controller *:hover{
    background-color: lightgrey;
}
.pyqs-container{
    box-sizing: border-box;
}
.banner{
    width: 97%;
    height: 15em;
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
    position: relative;
}
.banner-text{
    color: white;
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 2em;
}
.pyqs-container .aside{
    display: inline-block;
    width: 25%;
}
.pyqs{
    display: inline-block;
    width: 75%;
}
.document{
    display: flex;
    align-items: center;
    padding: 1em;
    margin: 1em 1em 1em;
    border: 1px solid darkgrey;
    border-radius: 8px;
    cursor: pointer;
}
.document:hover{
    background-color: lightgrey;
}
.document-logo{
    margin: 0 1em 0 0;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 70%;
}
.resources-container .aside{
    display: inline-block;
    width: 25%;
}
.resources{
    display: inline-block;
    width: 75%;
}
.resource-text{
    display: flex;
    flex-direction: column;
    margin: 1em 1em 1em;
    border: 1px solid darkgrey;
    border-radius: 8px;
    overflow: hidden;
}
.text-header{
    display: flex;
    border-bottom: 1px solid darkgrey;
    padding: 1em;
}
.text-logo{
    margin-right: 1em;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 70%;
}