/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: url("../assets/bgimage.jpg");
  background-size: cover;
  background-position: center bottom right;
  background-repeat: no-repeat;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .show {
    display: block;
  }

.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #42b5e2;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}
.google{
    margin: auto;
    margin-top:10px;
    background-color: #DB4437;
    border-radius: 4px;
    width: 220px;
    height: 40px;
}
.google:hover{
  cursor: pointer;
  background-color: #FF0800;
  transition-delay: 2ms;
}
.google::after{
  background-color: #DB4437;
  transition-delay: 2ms;



}
.google h4{
    color: white;
    font-size:smaller ;
}
.Gofgoogle{
    margin-left:10px ;
    margin-right:20px ;
    font-size:x-large;
    color: white;
    font-weight:500;
}


.input-icon-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .input-icon {
    position: absolute;
    left: 10px; /* Adjust as necessary */
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size as necessary */
    height: 20px;
  }
  
  .input-icon-wrapper input {
    padding-left: 40px; /* Adjust padding to avoid overlap with the icon */
  }
  .extbutton{
    margin-left: 10px;
    width: 70px;
    height: 30px;
    border: none;
    color: white;
    background-color: #009579;
    border-radius: 8px;
  }
  .extbutton:hover{
    cursor: pointer;
    background-color: #42b5e2;
    transition-delay: 40ms;

  }
